# Игнорировать виртуальное окружение
venv/
.env/

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы IDE (например, PyCharm, VSCode)
.idea/
.vscode/

# Игнорировать папки и файлы, создаваемые в процессе работы
*.db
*.sqlite3

# Игнорировать все файлы, которые начинаются с . (скрытые файлы)
.*

# Исключение
!.gitignore
